<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.shopping_admin_service.mapper.PermissionMapper">

    <delete id="deletePermissionAllRole" parameterType="long">
        DELETE
        FROM bz_role_permission
        WHERE pid = #{pid}
    </delete>
</mapper>